@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


.contact-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px; /* Adjusted size */
  height: 100px; /* Adjusted size */
  margin-right: 10px; /* Reduced margin for closer alignment */
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-details {
  flex: 1;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: #fff;
}

.contact-details a {
  color: rgb(249, 249, 252);
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.links div {
  flex: 1;
  margin-right: 20px;
}

.links h3 {
  font-size: 18px;
  margin-bottom: 10px;
  /* Align heading text with subheading */
  text-align: left;
  
  
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 20px; /* Reset margin for consistent alignment */
}

.links ul li {
  margin-bottom: 5px;
}

.links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.links ul li a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #fff;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.connect ul {
  list-style: none;
  padding: 0;
}

.connect li {
  margin: 10px 0;
}

.connect a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.connect i {
  margin-right: 8px;
}
