.about-us {
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  color: rgb(240, 232, 232);
  font-family: Arial, sans-serif;
  background-color: rgb(32, 30, 30);
  box-sizing: border-box;
}

.about-us-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-us-container h1 {
  margin-bottom: 20px;
  font-size: 3.5em;
  text-align: center;
}

.about-us-container p {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.about-us-container h1, 
.about-us-container h2, 
.about-us-container h3, 
.about-us-container h4, 
.about-us-container h5, 
.about-us-container h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styles for the values section */
.values-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.value-item {
  text-align: center;
  margin: 0 80px;
}

.value-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.value-item p {
  font-size: 1.2em;
  color: rgb(240, 232, 232);
}

h3{
  font-size: large;
  padding-left: 20px;
  text-align: center;
}