.navbar {
  position: relative; /* Ensure positioning context for the logo */
  background-color: rgb(248, 80, 80);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  height: 80px; /* Adjust as needed */
}

.navbar .logo {
  position: absolute; /* Absolute positioning for the logo */
  top: 50%; /* Center vertically relative to the navbar */
  left: 10px; /* Adjust as needed for spacing from the left edge */
  transform: translateY(-50%); /* Center the logo vertically */
  height: 250px; /* Set the desired height */
  width: auto; /* Maintain aspect ratio */
  z-index: 1; /* Ensure the logo is above other navbar content */
}

/* Ensure the logo is resized properly */
.navbar .logo img {
  height: 100%; /* Make sure the image fills the container */
  width: auto; /* Maintain aspect ratio */
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: auto; /* Push menu items to the right */
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu .dropdown {
  position: relative;
}

.navbar-menu li a:hover {
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.navbar-menu li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.navbar-menu .dropdown a {
  color: rgb(14, 13, 13);
  text-decoration: none;
  display: block;
  padding: 10px;
}

.navbar-menu .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 10px;
  background-color: #f7f2f2;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
}

.dropdown-menu li {
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-box input {
  height: 30px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search-box img {
  width: 20px;
  height: 20px;
}

.signup button {
  color: white;
  font-size: 14px;
  margin: 0;
  text-align: right;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 20px;
  overflow: hidden;
}
