.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    background-image: url(../HeroSection/heroimg.png);
    background-size: cover; /* Ensures the image covers the entire hero section */
    background-position: center; /* Centers the image within the hero section */
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    overflow-y: auto;
    text-align: center;
}


/* Content placed above the overlay */
.hero-content {
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}
  
  .hero h1 {
    font-size: 3em;
    margin: 0;
    color: white;
    background-color: rgba(243, 93, 93, 0.41);
    padding: 20px;
    border-radius: 20px;
  }
  
  .hero p {
    font-size: 2.5em;
    color: #ece2e2;
    background-color:hwb(346 33% 8% / 0.397);

    padding: 0px 20px;
    border-width: 2px;
    border-radius: 20px;
  }
  