.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

form {
  backdrop-filter: blur(20px);
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

form h1 {
  margin-bottom: 20px; /* Add margin here for spacing */
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%; /* Ensure the input takes full width of the container */
  padding: 10px;
  padding-left: 40px; /* Make sure there's enough padding for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.input-box .icon {
  position: absolute;
  left: 10px; /* Adjust if needed */
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 16px; /* Adjust size as needed */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.toggle-link {
  margin-top: 20px;
}

.toggle-link a {
  color: #007bff;
  text-decoration: none;
}

.toggle-link a:hover {
  text-decoration: underline;
}

.auth-container {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  background: 
  linear-gradient(
    rgba(15, 14, 14, 0.5), 
    rgba(46, 45, 45, 0.5)
  ), 
  url(../Auth/background.jpg);
  background-size: cover; /* Ensures the image covers the entire hero section */
  background-position: center; /* Centers the image within the hero section */
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 80px;
  background: rgb(245, 238, 238); /* Light background color */
  border: none;
  padding: 5px 15px; /* Adjust padding for desired spacing around text */
  font-size: 25px; /* Adjust font size if needed */
  cursor: pointer;
  color: black;
  border-radius: 20px; /* Optional: add border radius for rounded corners */
  width: auto; /* Ensure width is based on content */
  max-width: fit-content; /* Ensures the button width fits the content */
}

.close-button:hover {
  color: red;
}
